.field
  .control
    - if post.blessings.count == 0
      = link_to "Bless", reactions_path(reaction: { reactable_id: post.id,
                                                    reactable_type: "Post",
                                                    name: "bless" }),
                method: :post,
                class: "button is-rounded is-small is-outlined is-info"
    - else
      = link_to "Bless", reactions_path(reaction: { reactable_id: post.id,
                                                    reactable_type: "Post",
                                                    name: "bless" }),
                method: :post,
                class: "button is-rounded is-small is-outlined is-info badge is-badge-info",
                "data-badge" => post.blessings.count

.field
  .control
    - if post.smitings.count == 0
      = link_to "Smite",
                reactions_path(reaction: { reactable_id: post.id,
                                           reactable_type: "Post",
                                           name: "smite" }),
                method: :post,
                class: "button is-rounded is-small is-outlined is-danger"
    - else
      = link_to "Smite",
                reactions_path(reaction: { reactable_id: post.id,
                                            reactable_type: "Post",
                                            name: "smite" }),
                method: :post,
                class: "button is-rounded is-small is-outlined is-danger badge is-badge-danger",
                "data-badge" => post.smitings.count